<h1>Classes</h1>
<div class="btn-toolbar top-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-primary" ng-click="newClass()"><i class="fa fa-plus"></i> New Class</button>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th style="width:45%">Class</th>
      <th style="width:20%">Grade</th>
      <th style="width:10%">First Yr</th>
      <th style="width:10%">Grad Yr</th>
      <th style="width:15%"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cls in classes | orderBy: 'firstYear'">
      <td class="center">
        <status-label status="{{cls.status}}"></status-label>
      </td>
      <td>
        <a href="" ng-click="editClass(cls)"><b>{{cls.name}}</b></a>
      </td>
      <td>
        <span ng-hide="cls.status != 'Active'">{{cls.grade|ordinal}}</span>
      </td>
      <td>
        {{cls.firstYear}}
      </td>
      <td>
        {{cls.graduationYear}}
      </td>
      <td>
        <button class="btn btn-minier btn-primary" ng-click="editClass(cls)">Edit</button>
        <confirm-button class-name="btn-minier btn-danger" text="Delete" action="deleteClass(cls)"></confirm-button>
      </td>
    </tr>
  </tbody>
</table>

<ul class="fa-ul">
  <li>
    <i class="fa-li fa fa-plus-square"></i>
    <a href="" ng-click="newClass()">New Class</a>
  </li>
</ul>
