<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="close" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
      <h4 ng-show="isNew()">New Contact</h4>
      <h4 ng-hide="isNew()">Edit Contact</h4>
    </div>
    <div class="modal-body">
      <form role="form" name="form" novalidate>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group" ng-class="{'has-error':form.firstName.$dirty && form.firstName.$invalid}">
              <label for="firstName">First Name *</label>
              <input type="text" class="form-control" id="firstName" name="firstName" ng-model="contact.firstName" required>
              <span ng-show="form.firstName.$dirty">
                <span ng-show="form.firstName.$error.required" class="help-inline">First name is required</span>
              </span>
            </div>
          </div>
          <div class="col-md-7">
            <div class="form-group" ng-class="{'has-error':form.lastName.$dirty && form.lastName.$invalid}">
              <label for="firstName">Last Name *</label>
              <input type="text" class="form-control" id="lastName" name="lastName" ng-model="contact.lastName" required>
              <span ng-show="form.lastName.$dirty">
                <span ng-show="form.lastName.$error.required" class="help-inline danger">Last name is required</span>
              </span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error':form.email.$dirty && form.email.$invalid}">
              <label for="email">Email Address *</label>
              <input type="text" class="form-control input-sm" id="email" name="email" ng-model="contact.email" required>
              <span ng-show="form.email.$dirty">
                <span ng-show="form.email.$error.required" class="help-inline">Email address is required</span>
              </span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="street1">Address</label>
              <input type="text" class="form-control input-sm" id="street1" name="street1" ng-model="contact.address.street1" placeholder="Street Address">
            </div>
            <div class="row narrow-gutter">
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text" class="form-control input-sm" id="city" name="city" ng-model="contact.address.city" placeholder="City">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="text" class="form-control input-sm" id="state" name="state" ng-model="contact.address.state" placeholder="ST" maxlength="2">
                </div>
              </div>
              <div class="col-md-4 last">
                <div class="form-group">
                  <input type="text" class="form-control input-sm" id="zip" name="zip" ng-model="contact.address.zip" placeholder="Zip" maxlength="10">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label>Phone Numbers</label>
            <div class="row narrow-gutter" ng-repeat="number in contact.phoneNumbers">
              <div class="col-md-4">
                <div class="form-group">
                  <select class="form-control input-sm" ng-model="number.type">
                    <option value="Mobile">Mobile</option>
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-sm" ng-model="number.number" ui-mask="(999) 999-9999">
                </div>
              </div>
              <div class="col-md-2 last">
                <a class="input-row-btn text-danger" href="" ng-click="removeNumber(number)"><i class="fa fa-times-circle"></i></a>
              </div>
            </div>
            <div class="row narrow-gutter">
              <div class="col-md-4">
                <div class="form-group">
                  <select class="form-control input-sm" ng-model="newNumber.type">
                    <option value="Mobile">Mobile</option>
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-sm" ng-model="newNumber.number" ui-mask="(999) 999-9999">
                </div>
              </div>
              <div class="col-md-2 last">
                <a class="input-row-btn" href="" ng-click="addNumber()"><i class="fa fa-plus-circle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <confirm-button ng-hide="isNew()" class-name="btn-danger pull-left" text="Delete" action="ok('delete')"></confirm-button>
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button ng-show="isNew()" type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Create Contact</button>
      <button ng-hide="isNew()" type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Update Contact</button>
    </div>
  </div>
</div>
