<div class="page-header">
  <h1>{{title}}</h1>
</div>

<div class="btn-toolbar top-toolbar noprint" role="toolbar">
  <div class="btn-group">
    <print-button></print-button>
    <button class="btn btn-sm" ng-click="export()"><i class="fa fa-share-square-o"></i> Export</button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Family</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Numbers</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contact in contacts | orderBy:['family_name', 'lastName', 'firstName']">
      <td>{{contact.family_name}}</td>
      <td>{{contact.lastName}}, {{contact.firstName}}</td>
      <td>{{contact.email}}</td>
      <td>
        <ul class="list-unstyled">
          <li ng-repeat="number in contact.phoneNumbers | orderBy:'type'"><phone-number number=number></phone-number></li>
        </ul>
      </td>
      <td>
        <address ng-show="contact.address">
          {{contact.address.street1}}<br/>
          {{contact.address.city}}, {{contact.address.state}} {{contact.address.zip}}
        </address>
      </td>
    </tr>
  </tbody>
</table>
