<h1>Families</h1>
<button type="button" class="btn btn-primary" ng-click="newFamily()">New Family</button>
<select ng-change="refreshView()" ng-model="view.filter" class="form-control">
  <option value="all">All</option>
  <option value="active">Active Families</option>
  <option value="waitlist">Waitlist</option>
  <option value="new">New Families</option>
  <option value="alumni">Alumni</option>
</select>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Family</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="family in families | orderBy: 'name'">
      <td>
        <a ng-href="#/families/{{family.id}}">{{family.name}}</a>
        <status-label family="family"></status-label>
      </td>
    </tr>
  </tbody>
</table>
