<div class="page-header">
  <h1>Families <small><i class="fa fa-angle-double-right"></i> manage families, parents and students</small></h1>
</div>
<div class="btn-toolbar top-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm" ng-click="newFamily()"><i class="fa fa-plus"></i> New Family</button>
  </div>
  <div class="btn-group pull-right">
    <select ng-change="refreshView()" ng-model="view.filter" class="form-control">
      <option value="all">All</option>
      <option value="active">Active Families</option>
      <option value="waitlist">Waitlist</option>
      <option value="new">New Families</option>
      <option value="alumni">Alumni</option>
    </select>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th style="width:100%">
        Family
        <form class="form-inline pull-right">
          <div class="form-group">
            <input type="text" name="search" id="search" class="form-control input-sm" placeholder="Search" ng-model="search.query">
          </div>
        </form>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="family in families | filter:{name:search.query} | orderBy: 'name'">
      <td class="center">
        <status-label status="{{family.status}}"></status-label>
      </td>
      <td>
        <a ng-href="#/families/{{family.id}}">{{family.name}}</a>
      </td>
    </tr>
  </tbody>
</table>

<ul class="fa-ul">
  <li>
    <i class="fa-li fa fa-plus-square"></i>
    <a href="" ng-click="newFamily()">New Family</a>
  </li>
</ul>
