<h1>{{family.name}} <small><status-label status="{{family.status}}"></status-label></smal></h1>
<div class="btn-toolbar top-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-sm" ng-click="newContact()"><i class="fa fa-plus"></i> New Parent</button>
    <button type="button" class="btn btn-sm" ng-click="newStudent()"><i class="fa fa-plus"></i> New Student</button>
    <button type="button" class="btn btn-sm"><i class="fa fa-gears"></i> Family Settings</button>
  </div>
</div>

<h2>Parents/Guardians</h2>
<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th style="width:5%"></th>
      <th style="width:35%">Name</th>
      <th style="width:15%">Email</th>
      <th style="width:15%">Phone</th>
      <th style="width:15%">Address</th>
      <th style="width:15%"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contact in family.contacts | orderBy:'firstName'">
      <td class="center"><gravatar hash="{{contact.email_hash}}" size="40"></gravatar></td>
      <td><a href="" ng-click="editContact(contact)" class="larger">{{contact.firstName}} {{contact.lastName}}</a></td>
      <td><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
      <td>
        <div ng-repeat="number in contact.phoneNumbers">
          <phone-number number="number"></phone-number>
        </div>
      </td>
      <td>
        <address ng-show="contact.address">
          {{contact.address.street1}}<br/>
          {{contact.address.city}}, {{contact.address.state}} {{contact.address.zip}}
        </address>
      </td>
      <td>
        <button class="btn btn-minier btn-primary" ng-click="editContact(contact)">Edit</button>
        <confirm-button class-name="btn-minier btn-danger" text="Delete" action="deleteContact(contact)"></confirm-button>
      </td>
    </tr>
  </tbody>
</table>

<ul class="fa-ul">
  <li>
    <i class="fa-li fa fa-plus-square"></i>
    <a href="" ng-click="newContact()">Add New Parent</a>
  </li>
</ul>

<hr/>

<h2>Students</h2>
<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th style="width:5%"></th>
      <th style="width:65%">Name</th>
      <th style="width:15%">Grade</th>
      <th style="width:15%"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="student in family.students | orderBy:'firstName'">
      <td class="center"><gravatar size="40"></gravatar></td>
      <td><a href="" ng-click="editStudent(student)" class="larger">{{student.firstName}} {{student.lastName}}</a></td>
      <td></td>
      <td>
        <button class="btn btn-minier btn-primary" ng-click="editStudent(student)">Edit</button>
        <confirm-button class-name="btn-minier btn-danger" text="Delete" action="deleteStudent(student)"></confirm-button>
      </td>
    </tr>
  </tbody>
</table>

<ul class="fa-ul">
  <li>
    <i class="fa-li fa fa-plus-square"></i>
    <a href="" ng-click="newStudent()">Add New Student</a>
  </li>
</ul>

<hr/>

<h4>History</h4>
<ul class="fa-ul">
  <li ng-repeat="event in family.events | orderBy:'date':true">
    <event-icon event="event" class-name="fa-li text-muted"></event-icon>
    <span class="text-muted">{{event.date | date:'MM/dd/yyyy'}}</span> - {{event.description}}
  </li>
</ul>
