<h1>Families</h1>
<div class="btn-toolbar top-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm" ng-click="newFamily()"><i class="fa fa-plus"></i> New Family</button>
  </div>
  <div class="btn-group pull-right">
    <select ng-change="refreshView()" ng-model="view.filter" class="form-control">
      <option value="all">All</option>
      <option value="active">Active Families</option>
      <option value="waitlist">Waitlist</option>
      <option value="new">New Families</option>
      <option value="alumni">Alumni</option>
    </select>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th style="width:100%">Family</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="family in families | orderBy: 'name'">
      <td class="center">
        <status-label family="family"></status-label>
      </td>
      <td>
        <a ng-href="#/families/{{family.id}}">{{family.name}}</a>
      </td>
    </tr>
  </tbody>
</table>
