<div class="page-header">
  <h1>Configuration Settings <small><i class="fa fa-angle-double-right"></i> manage system configuration settings</h1>
</div>
<div class="btn-toolbar top-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-primary" ng-click="newConfig()"><i class="fa fa-plus"></i> New Setting</button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th style="width:15%">Key</th>
      <th style="width:70%">Value</th>
      <th style="width:15%"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="config in configs | orderBy: 'key'">
      <td class="center">
        <i class="fa fa-tag"></i>
      </td>
      <td>
        <a class="larger" href="" ng-click="editConfig(config)"><b>{{config.key}}</b></a>
      </td>
      <td>
        <pre>{{config.value}}</pre>
      </td>
      <td>
        <button class="btn btn-minier btn-primary" ng-click="editConfig(config)">Edit</button>
        <confirm-button class-name="btn-minier btn-danger" text="Delete" action="deleteConfig(config)"></confirm-button>
      </td>
    </tr>
  </tbody>
</table>

<ul class="fa-ul">
  <li>
    <i class="fa-li fa fa-plus-square"></i>
    <a href="" ng-click="newConfig()">New Setting</a>
  </li>
</ul>
