<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="close" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
      <h4 ng-show="isNew()">New Config Setting</h4>
      <h4 ng-hide="isNew()">Edit Config Setting</h4>
    </div>
    <div class="modal-body">
      <form role="form" name="form" novalidate>
        <div class="form-group" ng-class="{'has-error':form.key.$dirty && form.key.$invalid}">
          <label for="key">Key *</label>
          <input type="text" class="form-control input-sm" id="key" name="key" ng-model="config.key" required ng-disabled="!isNew()">
          <span ng-show="form.key.$dirty">
            <span ng-show="form.key.$error.required" class="help-inline">Select a valid class</span>
          </span>
        </div>

        <hr>

        <div class="form-group" ng-class="{'has-error':form.value.$dirty && form.value.$invalid}">
          <label for="value">Value *</label>
          <textarea class="form-control input-sm" id="value" name="value" ng-model="config.value" required rows="8"></textarea>
          <span ng-show="form.value.$dirty">
            <span ng-show="form.value.$error.required" class="help-inline">Select a valid class</span>
          </span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <confirm-button ng-hide="isNew()" class-name="btn-danger pull-left" text="Delete" action="ok('delete')"></confirm-button>
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button ng-show="isNew()" type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Create Setting</button>
      <button ng-hide="isNew()" type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Update Setting</button>
    </div>
  </div>
</div>
